<h1>Booksapp</h1>
<a href="/books">戻る</a>
<%= form_with model: @book do |form| %>
  <div>
    <div><%= form.label :タイトル %></div>
    <div><%= form.text_field :title %></div>
  </div>
  <div>
    <div><%= form.label :著者 %></div>
    <div><%= form.text_field :author %></div>
  </div>
  <div>
  <div><%= form.label :概要 %></div>
  <div><%= form.text_area :item_caption, size: "40x10" %></div>
</div>
<div>
<div><%= form.label :金額 %></div>
<div><%= form.text_field :price %>円</div>
</div>
<div>
<div><%= form.label :リンク %></div>
<div><%= form.text_field :link %></div>
</div>
  <div>
    <%= form.submit %>
  </div>
<% end %>